app:
  port: 8080

vms:
  # native | vagrant 
  runOn: 'vagrant'
  sessionPoolSize: 8
  vagrant:
    vagrantfiles:
      - '/Users/shumyk/codeself/shell/cmd-exe'
    verbose: false
    halt: false

persistance:
  enabled: false